@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --colorThemeDarkGray: rgb(32, 32, 32);
  --colorThemeLightGray: #969696;
  --colorThemeDarkBlue: #000057;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: var(--colorThemeDarkGray);
  color: var(--colorThemeLightGray);
}

main {
  padding: 50px;
  max-width: 750px;
  width: 95%;
}

.startsection {
}
