@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url(https://fonts.googleapis.com/css?family=Supermercado+One&display=swap);

:root {
  --colorThemeDarkGray: rgb(32, 32, 32);
  --colorThemeLightGray: #969696;
  --colorThemeDarkBlue: #000057;
  --colorThemeLightBlue: #006ae4;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow-x: hidden;
  margin: 0;
  background-color: var(--colorThemeDarkGray);
  color: white;
}

main {
  padding: 50px;
  max-width: 750px;
  width: 95%;
}

.startsection.header {
  font-family: 'Supermercado One', cursive;
}

.languages {
  display: block;
  font-size: medium;
}

.language {
  display: inline-block;
  list-style: none;
  padding: 0 6px;
  will-change: auto;

  transition: font-size ease-in-out 0.15s;
  -moz-transition: font-size ease-in-out 0.15s;
  -ms-transition: font-size ease-in-out 0.15s;
  -o-transition: font-size ease-in-out 0.15s;
  -webkit-transition: font-size ease-in-out 0.15s;
}

/* 👍👍👍👍👍 */

.language:first-child {
  padding-left: 0;
}

.language:hover {
  font-size: x-large;
  text-shadow: 2px 2px var(--colorThemeLightBlue);
}

h1 {
  text-shadow: 2px 2px var(--colorThemeLightBlue);
}

p {
  line-height: 150%;
}

.needsSpacing {
  padding-top: 50px;
}

.socials {
  display: block;
  font-size: medium;
}

.social {
  display: inline-block;
  list-style: none;
  padding: 0 6px;
  will-change: auto;

  transition: font-size ease-in-out 0.15s;
  -moz-transition: font-size ease-in-out 0.15s;
  -ms-transition: font-size ease-in-out 0.15s;
  -o-transition: font-size ease-in-out 0.15s;
  -webkit-transition: font-size ease-in-out 0.15s;
}

.social:first-child {
  padding-left: 0;
}

.social:hover {
  font-size: x-large;
  text-shadow: 2px 2px var(--colorThemeLightBlue);
}
